# core
openai==1.55.3
pydantic
python-dotenv==1.0.1

# TrustworthyAgent
cleanlab-tlm

## formatting
# black

## example dependencies
numpy
wikipedia
duckduckgo-search==6.1.0
openmeteo_requests==1.2.0
requests_cache==1.2.0
retry_requests==2.0.0

## UI dependencies
# streamlit
